body {
	padding-top: 10vh;
}

h1,h2,h3,h4,h5,h6,p {
	font-family: 'Open Sans', sans-serif;
}

.navbar {
	background-color: #72C0E4;
	height: 10vh;
	padding: 2vh 10vw 2.5vh 10vw;
}

.navbar .container-fluid {
	padding: 0;
}

.navbar .container-fluid .navbar-header button {
	background-color: grey;
}

.navbar .container-fluid .navbar-header .icon-bar {
	background-color: red;
}

.navbar-brand {
	margin: auto;
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	font-size: 32px;
}

li {
	background-color: #E7E7E7;
	margin-left: 15px;
}

main.container-fluid {
	padding: 0;
}

main.container-fluid .jumbotron {
	border-radius: 0px;
	background-color: #888888;
	text-align: left;
	padding-left: 10vw;
	padding-right: 10vw;
	margin-bottom: 0;
}

.jumbotron .row .col-sm-8 > a i {
	border-radius: 50%;
	font-size: 5vh;
	margin-right: 2vw;
}

section.container-fluid {
	background-color: #EEEEEE;
	padding: 3vh 10vw 3.5vh 10vw;
}

section.container-fluid h2 {
	font-size: 4.5vh;
}

section .row .col-sm-6 img {
	width: 100%;
}

footer {
	background-color: #72C0E4
}
